@media screen and (max-width: 700px) {
    .bloco2{
        height: 100%;
        width: 100%;
    }
    .bloco3{
        height: 100%;
        padding: 50px;
    }
    .conteudoCard{
        width: 260px;
    }
    .card .rodapeCard{
        width: 260px;
    }
}

