body {
    display: block;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* Estilizando o menu */

ul {
    /* removendo os marcadores da lista não ordenada */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
}


li {
    /* faz com que os elementos da tag <li> flutuem um ao lado do outro */
    float: right;
}

li a {
    /* display: block; permite especificar o padding (e height, width, margins) */
    display: block;
    color: #9D33B5;
    text-align: center;
    /* especificando o padding entre a tag <a> para deixar com uma aparência melhor */
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #592097;
}

.active {
    color: #B853c6;
    font-weight: bold;
}

.logo {
    color: #9D33B5;
    /* especificando o padding entre a tag <a> para deixar com uma aparência melhor */
    padding: 20px 40px;
    font-weight: bold;
    /* faz com que o elemento na classe logo flutue no lado esquerdo */
    float: left;
}

.left{
    float: left;
    width: 50%;
}

.right{
    float: right;
    width: 50%;
}

/* Estilizando o slider blog card */